<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/img/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title th:text="${name}"/>
</head>
<body style="text-align: center" th:each="el : ${dog}">
<div th:insert="blocks/header.html  :: header0" class="container"></div>
<div class="container mt-5" style="text-align: center">
    <p class="mb-5 text-center"><h1 th:text="${el.name}"></h1></p>
    <div class="d-inline-flex album py-5 bg-light">
        <img class="justify-content-center card-img-top" th:src="${el.url}" alt="logo" style="width: 50%; height: 400px; object-fit: cover">
        <div class="col justify-content-center">
            <div class="card shadow-sm" style="text-align: center; align-items: center">
                <div class="card-body" style="max-width: 600px; height: auto;">
                    <h4><p class="card-text"th:text="${el.discr}"/></h4>
                </div>
                <div class="btn-group" style="min-width: 150px; height: 40px;">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><h4 th:text="${el.gender}"/></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"><h4 th:text="${el.getAge} + ' мес.'"/></button>
                </div>
            </div>
        </div><br><br>
    </div>
</div>
<a href="/wantDog"><button type="button" style="max-width: 300px;" class="btn btn-success container text-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-through-heart" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.854 15.854A.5.5 0 0 1 2 15.5V14H.5a.5.5 0 0 1-.354-.854l1.5-1.5A.5.5 0 0 1 2 11.5h1.793l.53-.53c-.771-.802-1.328-1.58-1.704-2.32-.798-1.575-.775-2.996-.213-4.092C3.426 2.565 6.18 1.809 8 3.233c1.25-.98 2.944-.928 4.212-.152L13.292 2 12.147.854A.5.5 0 0 1 12.5 0h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.854.354L14 2.707l-1.006 1.006c.236.248.44.531.6.845.562 1.096.585 2.517-.213 4.092-.793 1.563-2.395 3.288-5.105 5.08L8 13.912l-.276-.182a21.86 21.86 0 0 1-2.685-2.062l-.539.54V14a.5.5 0 0 1-.146.354l-1.5 1.5Zm2.893-4.894A20.419 20.419 0 0 0 8 12.71c2.456-1.666 3.827-3.207 4.489-4.512.679-1.34.607-2.42.215-3.185-.817-1.595-3.087-2.054-4.346-.761L8 4.62l-.358-.368c-1.259-1.293-3.53-.834-4.346.761-.392.766-.464 1.845.215 3.185.323.636.815 1.33 1.519 2.065l1.866-1.867a.5.5 0 1 1 .708.708L5.747 10.96Z"></path>
    </svg>
    Взять питомца
</button></a> <br><br>
<a th:href="'/dogList/' + ${el.id} + '/edit'"><button type="button" class="btn btn-outline-danger" style="min-width: 150px; height: 40px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"></path>
        <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"></path>
    </svg>
    Редактировать
</button></a>
<a th:href="'/dogList/' + ${el.id} + '/delete'">
    <button type="button" class="btn btn-outline-danger" style="min-width: 150px; height: 40px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-backspace-reverse-fill" viewBox="0 0 16 16" >
            <path d="M0 3a2 2 0 0 1 2-2h7.08a2 2 0 0 1 1.519.698l4.843 5.651a1 1 0 0 1 0 1.302L10.6 14.3a2 2 0 0 1-1.52.7H2a2 2 0 0 1-2-2V3zm9.854 2.854a.5.5 0 0 0-.708-.708L7 7.293 4.854 5.146a.5.5 0 1 0-.708.708L6.293 8l-2.147 2.146a.5.5 0 0 0 .708.708L7 8.707l2.146 2.147a.5.5 0 0 0 .708-.708L7.707 8l2.147-2.146z"></path>
        </svg>
        Удалить публикацию
    </button>
</a><br>
Будьте внимательны при выборе удаления!
<div th:insert="blocks/footer.html  :: footer" class="container"></div>
</body>
</html>